<%- include ('../partials/header') -%>
<%- include ('../partials/navbar') -%>
    <div class="container">
        <div class="card">
            <h2 class="my-5 card-header">Editar um Artigo</h2>
            <div class="card-body">
                <form method="post" action="/admin/articles/edit/<%=article.id%>">
                    <label>Escreva qual será o novo título:</label>
                    <input type="text" name="title" placeholder="Defina o titulo da categoria" class="form-control mb-5" value="<%=article.title%>"> 
                    <label>Editar o corpo do artigo:</label>
                    <textarea placeholder="Escreva seu artigo" name="body" class="form-control my-3" id="article"><%-article.body%></textarea>
                    <label class="mt-5">Selecionar nova categoria para o artigo:</label>
                    <select name="category" class="form-control">
                        <% categories.forEach( (categories) => { %>
                            <% if(categories.id == article.categoryId) { %>
                                return <option value="<%=categories.id%>" selected> <%= categories.title %> </option>
                            <% } %>
                        <% }) %>
                    </select>
                    <button class="btn btn-success mt-3"> Atualizar! </button>
                </form>
            </div>
        </div>
    </div>
<%- include ('../partials/footer') -%>
<script src="/tinymce/tinymce.min.js"></script>
<script>

  tinymce.init({
    language: 'pt_BR',
    selector: "#article",
    plugins:'advlists autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
  })
</script>